#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #1c1c1c;
  color: #fff;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: #fff;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #444;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
  background-color: #333!important;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #333!important;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #444;
}

ul {
  text-align: left;
  padding:0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.delete-button {
  margin-left: 30px;
}

.add-button {
  margin-top: 20px;
}